body {
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
   
}
.home-header {
    font-size: 175px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;   
    display: flex;
    justify-content: center;
}
.globalnav {
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    font-size: 50px;
    margin-top: 3px;
  }

.navitem {
    color:black;
    text-decoration: none;
}
a:hover {
    background-color: rgb(248, 255, 113);
    padding: 10px;
    border-radius: 25px;
}
.footernav {
    
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    font-size: 50px;
    margin-top: 3px;

}
.footer{
    background-color: rgb(148, 155, 9);
    padding: 0px;
    margin: auto;
}

