html {
    background-color: rgb(255, 251, 223);
}

body {
    color: rgb(49, 33, 16);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;


}

.home-header {
    font-size: 195px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.globalnav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 0 15px;
    padding: 0px 5px 15px;
    text-align: center;
}

.header-margin {
    margin: 30px 50px;
}

.what-is-tofu {
    font-size: 60px;
    font-weight: bolder;

}

.text {
    font-size: 35px;
}

.two-column-layout {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.image-tofu {
    width: 450px;
    height: auto;

}

.navitem {
    color: rgb(49, 33, 16);
    text-decoration: none;
    padding: 20px;
    display: block;
}

a:hover {
    background-color: rgb(255, 122, 228);
    border-radius: 25px;
    color: cornsilk;
}

.main-content {
    margin: 30px 50px;
}

.main-header-extrafirm {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0px;

}

.main-header-firm {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0px;
}

.main-header-silken {
     font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-size: 90px;
   margin: 0px;

}

.footernav {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin-top: 3px;
    margin-bottom: 0px;

}

footer {
    background-color: rgb(148, 155, 9);
    padding: 0px;
    margin: 0px;
}